* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
}

a {
    text-decoration: none;
}


.container {
    max-width: 75%;
    margin: auto;
}

.header {
    background: url("../images/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg") no-repeat center center;
    height: 100vh;
    background-size: cover;

}

.overlay {
    height: 100vh;
    background: rgba(0,0,0,0.7);
}

.nav_bar {
    height: 40px;
    background-color: #eee;
}

.nav_bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo h1 {
    font-size: 16px;
    letter-spacing: 0.1rem;
}
.logo_span {
    background-color: #4a4a4a;
    font-size: 32px;
    padding: 1px;
    margin-right: 5px;
    color: #eee;

}

.nav_bar .container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_bar .container ul li{
    display: inline-block;
    padding: 10px;
}

.nav_bar .container ul li:hover {
    background: #aaffbb;
}
   
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.content h1, .content p {
    margin: 50px;
    color: #cefdee;
    text-align: center;
    font-family: 'Slabo 27px', serif;
}

