* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  font-family: "Slabo 27px", serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 75%;
  margin: auto;
}

ul {
  list-style-type: none;
} 

section {
  padding: 50px 0 80px 0;
}

h2 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  text-align: center;
}

h2 span {
  color: #b58501;
  border-bottom: 2px solid #b58501;
}

#header {
  background: url("../images/working-at-night.jpg") no-repeat center center;
  height: 100vh;
  background-size: cover;
}

.overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.nav_bar {
  height: 40px;
  background-color: #fff;
}

.nav_bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_bar .container label {
  font-size: 26px;
  float: left;
  display: none;
}

#toggle {
  display: none;
}

.logo h1 {
  font-size: 16px;
  letter-spacing: 0.1rem;
  border: 2px solid #000;
  color: #000;
}
.logo_span {
  background-color: #000;
  font-size: 32px;
  padding: 2px 1px;
  margin-right: 5px;
  color: #eee;
}

.nav_bar .container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_bar .container ul li {
  display: inline-block;
  padding: 10px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.nav_bar .container ul li a {
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.nav_bar .container ul li:hover {
  background: #b58501;
}

.nav_bar .container ul li:hover a {
  color: #fff;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h1 {
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.content h1,
.content p {
  color: #fff;
}

.content a {
  display: inline-block;
  width: 100px;
  padding: 10px 20px;
  background-color: #b58501;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  margin-top: 20px;
  color: #fff;
  border-radius: 60px;
  font-size: 18px;
}

.content a:hover {
  background-color: #926b00;
}

/* Start About us */
#our_services .container {
  display: flex;
  justify-content: space-between;
  height: 50vh;
}

#our_services .container .office-img {
  width: 45%;
  background: url("../images/office-staff-typing-on-laptop.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  
}

#our_services .container .office-img .overlay {
  width: 80%;
  height: 80%;
  border: 1px solid #b58501;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#our_services .container .office-img .overlay h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 75px;
  margin-bottom: 20px;
  line-height: 35px;
}

#our_services .container .office-img .overlay i {
  color: #fff;
  font-size: 20px;
}

#our_services .container .all-services {
  width: 45%;
  display: flex;
  align-self: center;
}

#our_services .container .all-services  ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

#our_services .container .all-services  ul li i {
  color: #b58501;
  font-size: 30px;
  margin-right: 20px;
}
/* End About us */

/* satrt our-team */
#our_team {
  background: #f2f2f2;
}

#our_team .all-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

#our_team .all-cards .card {
  width: 22%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

#our_team .all-cards .card:hover {
  transform: scale(1.1,1.1);
  box-shadow: 1px 1px 28px 5px #a9a9a9;
}

#our_team .all-cards .card .photo {
  
  height: 200px;
}

#our_team .all-cards .card .photo1 {
  background: url("../images/blank-female-profile.png") no-repeat center center;
  background-size: cover;
}

#our_team .all-cards .card .photo2 {
  background: url("../images/blank-female-profile.png") no-repeat center center;
  background-size: cover;
}

#our_team .all-cards .card .photo3 {
  background: url("../images/MG_2157.jpeg") no-repeat center center;
  background-size: cover;
}

#our_team .all-cards .card .photo4 {
  background: url("../images/Male-Profile_Image-PNG-715x715.jpg") no-repeat center center;
  background-size: cover;
}

#our_team .all-cards .card .concat {
  margin-bottom: 20px;
}

#our_team .all-cards .card .concat a {
  margin-left: 10px;
}

#our_team .all-cards .card .concat a i {
  font-size: 20px;
  color: #b58501;
}

#our_team .all-cards .card .info {
  padding: 10px;
}

#our_team .all-cards .card .info span {
  color: #b58501;
}
/* End our-team */


/* Start Media Query */
@media screen and (max-width: 992px) {
  #our_services .container {
    height: 40vh;
  }

  #our_services .container .office-img .overlay h3 {
    margin-top: 40px;
    line-height: 28px;
  }

  #our_services .container .all-services ul li {
    font-size: 18px;
  }

  #our_services .container .all-services ul li i {
    font-size: 28px;
  }

  #our_team .all-cards .card {
    width: 45%;
    margin-bottom: 70px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  #header {
    height: 80vh;
  }

  #header .overlay {
    height: 80vh;
  }
}

@media (max-width: 767px) {
  #header {
    height: 70vh;
  }

  #header .overlay {
    height: 70vh;
  }

  #header .content {
    height: 40%;
  }

  #header .content h1 {
    font-size: 28px;
  }

  #our_services .container .office-img {
    display: none;
  }

  #our_services .container .all-services {
    width: 100%;
  }

  #our_services .container .all-services ul li {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .nav_bar .container label {
    display: block;
    cursor: pointer;
    margin-top: 4px;
    color: #4a4a4a;
  }

  .nav_bar .container .nav_menu {
    width: 100%;
    display: none;
    background-color: #fff;
    color: #4a4a4a;
  }

  .nav_bar .container .nav_menu ul li {
    display: block;
    border-bottom: 1px solid #b58501;
    margin: 0;
    padding-left: 0;
  }

  #toggle:checked + .nav_menu {
    display: block;
    padding-left: 20px;
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
  }
  h2 {
    margin-bottom: 16px;
  }

  #our_services .container .all-services ul li {
    font-size: 16px;
  }
}

@media (max-width: 599px) {
  h2 {
    margin-bottom: 70px;
  }

  #our_team .all-cards .card {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  

  /* End toggle */
}

